

.header{
    height: 20vh;
    width: 100vw;
    background: none;
    position: fixed;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 99;
}

nav{
    width: 80%;
    height: 100%;
    align-items: center;
    display: flex;
    padding-right: 1%;
    justify-content: end;
}

.nav-container{ 
    width: 100%;
    height: 25%;
    background-color: #fbeecd;
    border: 2px solid black;
    box-shadow: black 7px 7px;
}

nav ul{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0.5% 2% 0 2%;
    align-items: center;
}



.landing_image{
    height: 100vh;
    background: url('./asset/landing_image.jpg');
    position: relative;
}

.bottom-container{
    height: 90vh;
    position: relative;
    background: url('./asset/bottom_image.jpg');
}

.landing_image, .bottom-container{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    width: 100vw;
}

.container-about-us, .history-container, .video-container, .events-container{
    background-color: white;
    width: 90vw;
    display: flex;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 7vh;
    box-sizing: border-box;
    column-gap: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
}



.event-container{
    margin-left: 4vw;
    margin-right: 4vw;
    box-sizing: border-box;
    column-gap: 2vw;
    display: flex;
    justify-content: space-between;
}


.about-us-section::before{
    opacity: 0;
}

.about-us-section{
    opacity: 1;
    transition: all 1s ease;
    box-sizing: border-box;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#subsection-1{
    padding-left: 50px;
    padding-right: 25px;
}

#subsection-2{
    padding-left: 25px;
    padding-right: 50px;
}

#subsection-2{
    /*padding-top: 50px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-us-img-1{
    width: 100%;
    height: 70%;
}

#section-title, #history-title, #commercial-text, #event-title{
    font-size: 24px;
    padding-bottom: 20px;
    font-weight: 400;
    border-bottom: 1px solid #250303;
}

#subsection-text, .history-text, .event-text{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    text-align: justify;
}


#subsction-img div{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.history-image img{
    width: 100%;
    height: 300px;
}

#subsction-img{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

#subsction-img div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.history-image, .history-text, .event-text, .event-image{
    width: 40vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.history-image, .event-text{
    padding-left: 50px;
    padding-right: 25px;
}

.history-text, .event-image{
    padding-left: 25px;
    padding-right: 50px;

}


.history-text div, .event-text div{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.events-container{
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}

.events-list-image{
    margin-top: 5vh;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 5vw;
    margin-right: 5vw;

    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
}


.events-list-image div{
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 400px;*/
    /*height:80%;*/
    box-shadow: 5px 5px 5px 2px rgb(172, 172, 172);
}

#other-text{
    font-size: 24px;
    padding-bottom: 20px;
    font-weight: 400;   
}

.event-text{
    flex-direction: column;
    justify-content: start;
}

.events-list-image div{
    overflow: hidden;
}

.events-list-image div{
    border-radius: 15px;
    transition: all 0.2s linear;
}

.events-list-image div:hover{
    transform: scale(1.1);
}

.video-container{
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 7vh;
    box-sizing: border-box;
}

.video{
    width: 100%;
    height:97%;
    padding-top: 5px;
    overflow: hidden;
}
.video iframe{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    box-sizing: border-box;

}

.container-video{
    box-sizing: border-box;
    width: 80%;
    height: 80%;
    padding: 5px;
    position: relative;
}


.video-border{
    overflow: hidden;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /*transform: translate(-50%, -50%);*/
}

.video-border img{
    filter: brightness(1.1);
    width: 100%;
    height: 100%;
}

.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1s ease;
}


.reveal.active{
    opacity: 1;
    transform: translateY(0);
}