

.header-nav{
    height: 16vh;
    width: 100vw;
    padding-top: 1%;
    padding-bottom: 1%;
    background: none;
    position: fixed;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 99;
}
nav{
    width: 80%;
    height: 100%;
    padding-right: 1%;
    align-items: center;
    display: flex;
    justify-content: end;
}

.nav-container{ 
    width: 35%;
    height: 35%;
    transition: 0.8s all ease;
    background-color: #fbeecd;
    border: 2px solid black;
    box-shadow: black 3px 3px;
}


nav ul{
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 0 2% 0 2%;
    /* align-items: center; */
}

#prev{
    width: 16%; height: 50%; text-align: center; background-color: #fef7e6; box-shadow: 2px 5px 5px 5px rgb(175, 170, 170); border-radius: 5px; z-index: 10; position: absolute;left: 45%; top: 25%; padding: 2%; transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

#curr{
    width: 16%; height: 50%; text-align: center; background-color: #fef7e6; box-shadow: 2px 5px 5px 5px rgb(175, 170, 170); border-radius: 5px; z-index: 10; position: absolute;left: 70%; top: 25%; padding: 2%; transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

#next{
    width: 16%; height: 50%; text-align: center; background-color: #fef7e6; box-shadow: 2px 5px 5px 5px rgb(175, 170, 170); border-radius: 5px; z-index: 10; position: absolute;left: 95%; top: 25%; padding: 2%; transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#newCard{
    width: 16%; height: 50%; text-align: center; background-color: #fef7e6; box-shadow: 2px 5px 5px 5px rgb(175, 170, 170); border-radius: 15px; z-index: 10; position: absolute;left: 120%; top: 25%; padding: 2%; transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    color: black; font-size: 22px; text-align: center;
}
.desc{
    font-size: 16px;
}
.price{
    color:  rgb(255, 166, 0); font-size: 16px; text-align: center;
}

